.logo{
    max-width: 130px;
    margin-right: 300px;
    margin-bottom: -60px;
}

header{
    background: linear-gradient(to right, #4b1818, #800000);
    color: #ffffff;
    padding: 20px;
    text-align: left;
    display: flex;
}


footer{
    background: linear-gradient(to right, #4b1818, #800000);
    color: #f0f0f0;
    margin: 0 auto; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 98.6%; 
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: #fff; 

}

h2 {
    display: block;
    font-size: 1.5em;
    margin-left: -250px;
}


section{
    display: block;
    margin: auto;
    width: 700px;
}

section img{
    margin: 15px;
    margin-left: -300px;
}

#details {
    position: fixed;
    top: 200px; /* Adjust as needed */
    right: 120px; /* Adjust as needed */
    width: 700px; /* Adjust as needed */
    height: 500px;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column;
}

#area-name {
    text-align: center;
}

#image-container {
    text-align: center;
}

#area-image {
    width: 400px; 
    height: 300px; 
}

#description {
    margin-top: 5%;
    text-align: center;
    width: 500px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 90px;
}

